<h1 class="title"><%= dt('help.title') %> <%= @controller %> <%= @action %></h1>
<%= render :partial => "help/#{@controller}/#{@action}" rescue render :partial => 'no_help' %></br>
<%= link_to dt('navbar.back'), :back, :class => "btn btn-small btn-primary" %>