<%= simple_form_for @gene_search do |f| %>
  <div class="form-inputs">
    <%= f.input :name, placeholder: f.object.class.human_attribute_name(:name), autofocus: true %>
    <div class="row">
      <div class="col-md-5">
        <fieldset class="section">
          <legend>by Symbol(s)</legend>

          <%= f.input :stringy_gene_ids, input_html: {class: 'ajax-multi-select2', data: {records: f.object.genes, url: gene_selections_path, multiple: true, minimum: 3, placeholder: f.object.class.human_attribute_name(:gene_ids_placeholder)}} %>
        </fieldset>
      </div>

      <div class="col-md-7">
        <fieldset class="section">
          <legend>by Attribute(s)</legend>

          <%= f.input :stringy_hpo_ids, input_html: {class: 'ajax-multi-select2', data: { records: f.object.phenotypes, url: phenotype_selections_path, multiple: true, minimum: 3, placeholder: f.object.class.human_attribute_name(:hpo_ids_placeholder) }} %>
          <%= f.input :stringy_mim_ids, input_html: {class: 'ajax-multi-select2', data: { records: f.object.mims, url: mim_selections_path, multiple: true, minimum: 3, placeholder: f.object.class.human_attribute_name(:mim_ids_placeholder) }} %>
          <%= f.input :inheritances, collection: Condition.pluck('inheritance').uniq.map {|i| [i, i.parameterize.underscore.to_sym]}, :input_html => {class: 'select2', multiple: "multiple", data: { placeholder: f.object.class.human_attribute_name(:inheritances)}} %>
        </fieldset>
      </div>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary', value: dt("#{controller_name}.#{action_name}.submit", model: dt("#{controller_name}.#{action_name}.model")) %>
    <%= link_to dt('actions.cancel'), (@gene_search.id ? @gene_search : search_gene_searches_path), :class => 'btn' %>
  </div>
<% end %>
