<div class="row">
	<table id="datatable_all" class="table table-striped table-bordered">
	  <thead>
		  <tr>
		    <th><%= SubjectSample.human_attribute_name(:submittedid) %></th>
		    <th><%= SubjectSample.human_attribute_name(:indexid) %></th>
		    <th><%= SubjectSample.human_attribute_name(:dnasource) %></th>
		    <th><%= SubjectSample.human_attribute_name(:platform) %></th>
				<th><%= Variant.human_attribute_name(:igv) %></th>
		  </tr>
	  </thead>
	  <tbody>
			<% subject_sample_search.results.each do |subject_sample| %>
			  <tr>
			    <td>
			    	<%= link_to subject_sample.send('submittedid'), subject_sample_path(subject_sample.send('submittedid')) %>
			    </td>
			    <td><%= subject_sample.send('indexid') %></td>
			    <td><%= subject_sample.send('dnasource') %></td>
			    <td><%= subject_sample.send('platform') %></td>
			  	<td>
			  		<%= link_to content_tag(:span, "", :class => "fa fa-file-image-o", :id => "igv-#{subject_sample.id}"), igv_subject_sample_path(subject_sample.id, locus: "2:50170604-50171257", call_set_id: subject_sample.sequence.call_call_set_id, platform: subject_sample.platform), :class => 'btn btn-small btn-primary btn-xs' %>
			  	</td>
			  </tr>
			<% end %>
	  </tbody>
	</table>
</div>
