<div class="row">
  <div class="col">
    <h1><%= dt("#{controller_name}.#{action_name}.title", model: dt("#{controller_name}.#{action_name}.model"), instance: @subject_sample_search.name) %></h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <%= simple_form_for @subject_sample_search do |f| %>
      <div class="form-inputs">
    		<%= f.input :name, label: SubjectSampleSearch.human_attribute_name(:saved_name), autofocus: true %>
    		<%= f.input :saved, as: :hidden, input_html: { value: true } %>
    	</div>
      <div class="form-actions">
        <%= f.button :submit, class: 'btn btn-primary', value: dt("#{controller_name}.#{action_name}.submit", model: dt("#{controller_name}.#{action_name}.model")) %>
      </div>
    <% end %>
  </div>
</div>
<%= render partial: "subject_sample_search", locals: { subject_sample_search: @subject_sample_search } %>
<div class="row">
  <div class="col form-actions">
  	<%= link_to dt('actions.edit', model: SubjectSampleSearch.model_name.human), edit_subject_sample_search_path(@subject_sample_search), class: 'btn btn-primary' %>
  	<%= link_to dt("actions.destroy", model: SubjectSampleSearch.model_name.human), subject_sample_search_path(@subject_sample_search), class: 'btn btn-danger', method: :delete, data: { confirm: dt("#{controller_name}.#{action_name}.confirm", model: @subject_sample_search.name) } %>
  </div>
</div>
