<%= simple_form_for @variant_search do |f| %>
  <div class="form-inputs">
    <%= f.input :name, placeholder: f.object.class.human_attribute_name(:name), autofocus: true %>
    <%= f.input :search, as: :hidden, input_html: {value: ""} %>

    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%=f.object.class.human_attribute_name(:variant_title)%></h3>
      </div>
      <div class="card-body">

          <div class="card">
            <div class="card-header">
              <h4 class="card-title">
                <%=f.object.class.human_attribute_name(:accordion_format_title)%>
              </h4>
            </div>
              <div class="card-body">
              <%= f.input :variant, hint: f.object.class.human_attribute_name(:variant_hint), placeholder: f.object.class.human_attribute_name(:variant_placeholder) %>
              </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h4 class="card-title">
                <%=f.object.class.human_attribute_name(:accordion_location_title)%>
              </h4>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-2">
              <%= f.input :chromosome, include_blank: f.object.class.human_attribute_name(:chromosome), collection: %w(1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 X Y) %>
                </div>
                <div class="col-md-3">
              <%= f.input :start_position, as: :integer, placeholder: f.object.class.human_attribute_name(:start_position) %>
                </div>
                <div class="col-md-3">
              <%= f.input :end_position, as: :integer, placeholder: f.object.class.human_attribute_name(:end_position) %>
                </div>
                <div class="col-md-2">
              <%= f.input :reference_allele, placeholder: f.object.class.human_attribute_name(:reference_allele) %>
                </div>
                <div class="col-md-2">
              <%= f.input :alternate_allele, placeholder: f.object.class.human_attribute_name(:alternate_allele) %>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h4 class="card-title">
                <%=f.object.class.human_attribute_name(:accordion_file_title)%>
              </h4>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
              <%= f.input :uploaded_bed_file, as: :file %>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h4 class="card-title">
                <%=f.object.class.human_attribute_name(:accordion_gene_title)%>
              </h4>
            </div>
            <div class="card-body">
            <%= f.input :stringy_gene_ids, input_html: {class: 'ajax-multi-select2', data: {records: f.object.genes, url: gene_selections_path, multiple: true, minimum: 3, placeholder: f.object.class.human_attribute_name(:gene_ids_placeholder)}} %>
              <%= f.input :uploaded_gene_file, as: :file %>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h4 class="card-title">
                <%=f.object.class.human_attribute_name(:accordion_dbsnp_title)%>
              </h4>
            </div>
            <div class="card-body">
            <%= f.input :dbsnp, hint: f.object.class.human_attribute_name(:dbsnp_hint), placeholder: f.object.class.human_attribute_name(:dbsnp_placeholder) %>
            </div>
          </div>

      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%=f.object.class.human_attribute_name(:filter_title)%></h3>
      </div>
      <div class="card-body">

          <div class="card">
            <div class="card-header">
              <h4 class="card-title">
                <%=f.object.class.human_attribute_name(:accordion_sample_title)%>
              </h4>
            </div>
            <div class="card-body">
            <%= f.input :stringy_submitted_ids, input_html: {class: 'ajax-multi-select2', data: {records: f.object.samples, url: sample_selections_path, multiple: true, minimum: 3, placeholder: f.object.class.human_attribute_name(:submitted_ids_placeholder)}} %>
              <%= f.input :uploaded_sample_file, as: :file %>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h4 class="card-title">
                <%=f.object.class.human_attribute_name(:accordion_subject_title)%>
              </h4>
            </div>
            <div class="card-body">
            <%= f.input :stringy_index_ids, input_html: {class: 'ajax-multi-select2', data: {records: f.object.subjects, url: subject_selections_path, multiple: true, minimum: 3, placeholder: f.object.class.human_attribute_name(:index_ids_placeholder)}} %>
              <%= f.input :uploaded_subject_file, as: :file %>
              <div class="row">
                <div class="col-md-6">
            <%= f.input :dna_source, collection: ["Blood", "Saliva", "Cell line", "White blood cell"], include_blank: "All Sources" %>
                </div>
                <div class="col-md-6">
            <%= f.input :platform, collection: ["Complete Genomics", "Illumina HiSeq", "Illumina HiSeqX"], include_blank: "All Platforms" %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
            <%= f.input :gender, collection: %w(M F), include_blank: "Both Genders" %>
                </div>
                <div class="col-md-6">
            <%= f.input :affection, collection: %w(affected unaffected), include_blank: "Any Affection" %>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h4 class="card-title">
                <%=f.object.class.human_attribute_name(:accordion_significance_title)%>
              </h4>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
              <%= f.input :denovo, as: :boolean %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
              <%= f.input :frequency_operator, prompt: f.object.class.human_attribute_name(:frequency_operator), collection: [["<", "<"], ["<=", "<="]], label_method: :last, value_method: :first  %>
                </div>
                <div class="col-md-4">
              <%= f.input :frequency, as: :float %>
                </div>
                <div class="col-md-4">
              <%= f.input :zygosity, collection: ['homo/hemizygous', 'heterozygous'], include_blank: "Any Zygosity" %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
              <%= f.input :effects, label_html: {rel: 'popover', data: {content: dt('popovers.effects'), html: true, trigger: 'hover', toggle: 'popover', placement: 'right'}}, collection: VariantSearch::EFFECTS.invert.to_a, input_html: {class: 'select2', multiple: "multiple", data: {placeholder: f.object.class.human_attribute_name(:effects_placeholder)}} %>
                </div>
                <div class="col-md-4">
              <%= f.input :impacts, label_html: {rel: 'popover', data: {content: dt('popovers.impacts'), html: true, trigger: 'hover', toggle: 'popover', placement: 'right'}}, collection: VariantSearch::IMPACTS.invert.to_a, input_html: {class: 'select2', multiple: "multiple", data: {placeholder: f.object.class.human_attribute_name(:impacts_placeholder)}} %>
                </div>
                <div class="col-md-4">
              <%= f.input :paths, label_html: {rel: 'popover', data: {content: dt('popovers.paths'), html: true, trigger: 'hover', toggle: 'popover', placement: 'right'}}, collection: VariantSearch::PATHS.invert.to_a, input_html: {class: 'select2', multiple: "multiple", data: {placeholder: f.object.class.human_attribute_name(:paths_placeholder)}} %>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>

  </div>
  <div class="form-actions mt-3">
    <%= link_to dt('actions.cancel'), search_variant_searches_path, class: 'btn btn-secondary' %>
    <%= f.button :submit, class: 'btn btn-primary', value: dt("#{controller_name}.#{action_name}.submit", model: dt("#{controller_name}.#{action_name}.model")) %>
  </div>
<% end %>
