<style>
body[data-ctrl="errors"] main .container {
  max-width: 640px;
}
</style>

<h1 style="font-weight: 700">Unexpected Error</h1>
<p>We're sorry, but something went wrong.</p>

<% unless @exception.message.nil? %>
  <div class="details" style="background-color: white; padding: 20px; margin: 20px 0; box-shadow: rgba(0,0,0,0.1) 0 5px 10px;">
    <table class="table" style="border: 1px solid #ddd;">
      <tr>
        <th>Reference ID</th>
        <td style="font-family: 'Roboto Mono', monospace;"><%= reference_id %></td>
      </tr>
      <tr>
        <th>Occurred on</th>
        <% human_readable_date = timestamp.strftime "%B %d, %Y" %>
        <% human_readable_time = timestamp.strftime "%I:%M:%S %P %Z" %>
        <% simplified_timestamp = timestamp.strftime "%Y-%m-%d %H:%M:%S" %>
        <td>
          <time datetime="<%= timestamp.iso8601 %>" title="<%= simplified_timestamp %>">
            <%= human_readable_date %>
            at <%= human_readable_time %>
          </time>
        </td>
      </tr>
    </table>

    <h5 class="card-title" style="border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 10px">Reason</h5>

    <p class="card-text" style="font-family: 'Roboto Mono', monospace; padding: 10px 0 10px 10px;">
      <%= @exception.message %>
    </p>
  </div>
<% end %>

<p>
  We track these errors automatically, but if the problem persists, feel free to
  <a href="mailto:<%= recipient_email %>?<%= error_email_options %>">contact us</a>.
</p>
