<% dt_classes = 'col-6 col-md-4 col-lg-3 text-right' %>
<% dd_classes = 'col-6 col-md-8 col-lg-9 mb-0' %>

<%= render partial: "sql_modal", locals: { sql: h(trio.sql).gsub("\n", "<br>").html_safe } %>

<div class="row query-metadata">
  <div class="col-12 query-criteria">
    <dl class="row dl-kv">
      <% if Rails.env.development? %>
        <dt class="<%= dt_classes %>">Type</dt>
        <dd class="<%= dd_classes %>">
          <% if trio.search.present? %>
            One Box Query
          <% else %>
            Advanced Query
          <% end %>
        </dd>
      <% end %>
      <dt class="<%= dt_classes %>"><%= Trio.human_attribute_name(:passing) %></dt>
      <dd class="<%= dd_classes %>"><%= (trio.search.present? or trio.passing.eql?("1")) ? "Passing" : "All" %></dd>
      <dt class="<%= dt_classes %>"><%= Trio.human_attribute_name(:index_ids) %></dt>
      <dd class="<%= dd_classes %>"><%= trio.index_ids.join(", ") %></dd>
      <dt class="<%= dt_classes %>"><%= Trio.human_attribute_name(:frequency) %></dt>
      <dd class="<%= dd_classes %>"><%= trio.frequency_operator %> <%= trio.frequency %></dd>

      <% if trio.impacts.present? %>
        <dt class="<%= dt_classes %>"><%= Trio.human_attribute_name(:impacts) %></dt>
        <dd class="<%= dd_classes %>"><%= trio.impacts.reject {|item| item.blank? }.map {|item| Trio::IMPACTS[item.to_sym]}.join(", ") %></dd>
      <% end %>

      <dt class="<%= dt_classes %>">BigQuery SQL <!-- <%= Trio.human_attribute_name(:sql) %> --></dt>
      <dd class="<%= dd_classes %>">
        <%= link_to "Show", "#", :data => {:placement => "top", :toggle => "modal", :target => '#sql-modal'}, :class => 'btn btn-default btn-xs sql-modal-trigger' %>
      </dd>
    </dl>
  </div>
</div>

<%= render(
  partial: "layouts/variant_search_query_metadata",
  locals: {
    search: trio,
    edit_search_url: edit_trio_path(trio),
    delete_search_url: trio_path(trio),
    export_options: [
      {
        label: "TSV",
        help: "Export the data as a TSV-compatible file (#{trio.name.parameterize(separator: '_')}.tsv)",
        url: trio_path(trio, format: :text),
      },
      # {
      #   label: "Excel",
      #   help: "Export the data as an Excel file (#{trio.name.parameterize(separator: '_')}.xlsx)",
      #   url: trio_path(trio, format: :xlsx),
      # },
    ]
  }
) %>

<% if trio.variants.count > 0 %>
  <div class="row data-table-container">
    <div class="col-12">
    <table id="datatable_with_item_options" class="table table-striped table-bordered variant-table">
      <thead>
        <!--------------------
          Render the headers
        ---------------------->
        <tr>
          <!-----
            Links
          ------->
          <!-- This is left blank by design -->
          <th></th>
          <!----------------
            Dynamic Columns
          ------------------>
          <% trio.user.selected_preferences.each do |column| %>
            <% if !['annotation_id', 'igv'].include?(column) %>
              <th><%= AnnotatedVariant.human_attribute_name(column.to_sym) %></th>
            <% end %>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <!--------------------
          Render the result
        ---------------------->
        <% trio.variants.take(500).each do |variant| %>
          <tr id="<%= variant.annotation_id %>" data-annotation-id="<%= variant.annotation_id %>" data-sample-id="<%= variant.sample_id %>">
            <!-----
              Links
            ------->
            <td>
              <%= render partial: 'layouts/search_item_options', locals: {variant: variant} %>
            </td>
            <!----------------
              Dynamic Columns
            ------------------>
            <% trio.user.selected_preferences.each do |column| %>
              <% if column.eql?('sample_id') %>
              <td data-column="sample_id">
                <% if variant.phenotyped %>
                  <%= link_to variant.sample_id, subject_sample_path(variant.subject_id, sample: variant.sample_id) %>
                <% else %>
                  <%= variant.sample_id %>
                <% end %>
              </td>
              <% elsif column.eql?('affection') %>
                  <td data-column="<%= column %>"><%= variant.interpretted_affection %></td>
              <% elsif column.eql?('category') %>
                  <td data-column="<%= column %>"><%= Trio.human_attribute_name(variant.category) %></td>
              <% elsif column.eql?('prioritizations') %>
                <% if trio.symbols.include?(variant.gene_symbol) %>
                  <td data-column="<%= column %>"><%= variant.prioritizations(trio.inheritance[variant.sample_id][variant.annotation_id]).map {|p| Trio.human_attribute_name(p)}.join(", ") %></td>
                <% else %>
                  <td data-column="<%= column %>"><%= (variant.prioritizations(trio.inheritance[variant.sample_id][variant.annotation_id]) - [:het_risk]).map {|p| Trio.human_attribute_name(p)}.join(", ") %></td>
                <% end %>
              <% elsif column.eql?('reference_bases') %>
                <td data-column="<%= column %>">
                  <%= shorten(variant.reference_bases) %>
                </td>
              <% elsif column.eql?('alternate_bases') %>
                <td data-column="<%= column %>">
                  <%= shorten(variant.alternate_bases) %>
                </td>
              <% elsif column.eql?('letter_genotype') %>
                <td data-column="<%= column %>"><%= variant.letter_genotype.split(",").map {|g| shorten(g)}.join(",") %></td>
              <% elsif column.eql?('refseq_id') %>
                <% if variant.refseq_id.present? && variant.refseq_id.split(":").present? %>
                  <td data-column="<%= column %>"><%= "#{variant.refseq_id.split(":")[0...3].join(":")}..." %></td>
                <% else %>
                  <td data-column="<%= column %>"><%= variant.refseq_id %></td>
                <% end %>
              <% elsif column.eql?('inheritance') %>
                <td data-column="inheritance"><%= get_inheritance_string(trio, variant) %></td>
              <% elsif column.eql?('affection') %>
                <td data-column="<%= column %>"><%= variant.affection %></td>
              <% elsif column.eql?('de_novo') %>
                <td data-column="<%= column.to_sym %>" class="invisible-null"><%= variant.send(column.to_sym) ? 'High-confidence' : ''.html_safe %></td>
              <% elsif column.eql?('dbsnp') %>
                <% if variant.dbsnp.present? %>
                  <td data-column="<%= column %>"><%= link_to_dbsnp(variant.dbsnp) %></td>
                <% else %>
                  <td data-column="<%= column %>"><%= variant.dbsnp %></td>
                <% end %>
              <% elsif ['igv', 'annotation_id'].include? column.to_s %>
              <% else %>
                <td data-column="<%= column %>"><%= variant.send(column.to_sym) %></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
<% end %>

