<%= form_tag delete_multiple_trios_path, method: :delete do %>
  <div class="row">
    <div class="col">
      <h1 class="title"><%= dt("#{controller_name}.#{action_name}.title", :model => dt("#{controller_name}.#{action_name}.model")) %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table id="datatable_all" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th><%= Trio.human_attribute_name(:name) %></th>
          </tr>
        </thead>
        <tbody>
          <% @trios.each do |trio| %>
            <tr>
              <td>
                <%= check_box_tag "trios[]", trio.id %> <%= link_to content_tag(:span, "", :class => "fa fa-pencil"), edit_trio_path(trio), :class => 'btn btn-small btn-primary btn-xs' %>
                <%= link_to trio.name, trio_path(trio) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col form-actions">
      <%= submit_tag dt("#{controller_name}.#{action_name}.submit"), class: 'btn btn-danger' %>
    </div>
  </div>
<% end %>
