<div class="row">
  <div class="col">
    <dl>
      <dt><%= SubjectSample.human_attribute_name(:SUBMITTEDID) %></dt>
      <dd><%= subject_sample.submittedid %></dd>
      <dt><%= SubjectSample.human_attribute_name(:INDEXID) %></dt>
      <dd><%= subject_sample.indexid %></dd>
      <dt><%= SubjectSample.human_attribute_name(:DNASOURCE) %></dt>
      <dd><%= subject_sample.dnasource %></dd>
      <dt><%= SubjectSample.human_attribute_name(:PLATFORM) %></dt>
      <dd><%= subject_sample.platform %></dd>
    </dl>
  </div>
</div>

<div class="row">
  <table id="datatable_all" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th><%= SubjectSample.human_attribute_name(:relevance) %></th>
        <th><%= SubjectSample.human_attribute_name(:date) %></th>
        <th><%= SubjectSample.human_attribute_name(:test) %></th>
        <th><%= SubjectSample.human_attribute_name(:question) %></th>
        <th><%= SubjectSample.human_attribute_name(:value) %></th>
        <th><%= SubjectSample.human_attribute_name(:legend) %></th>
      </tr>
    </thead>
    <tbody>
      <% subject_sample.measures.each do |subject_measure| %>
        <tr>
          <td><%= subject_measure.relevance %></td>
          <td><%= subject_measure.testdate %></td>
          <td><%= subject_measure.test %></td>
          <td><%= subject_measure.question %></td>
          <td><%= subject_measure.measure %></td>
          <td><%= subject_measure.legend %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
