<%# add navigation links to this file %>
<li class="nav-item <%= 'active' if controller_name.eql?('variant_searches') %>">
	<%= link_to VariantSearch.model_name.human(count: 2), search_variant_searches_path, class: "nav-link", rel: 'popover', data: {content: VariantSearch.human_attribute_name(:popover), trigger: 'hover', toggle: 'popover', placement: 'bottom'} %>
</li>
<li class="nav-item <%= 'active' if controller_name.eql?('trios') %>">
	<%= link_to Trio.model_name.human(count: 2), search_trios_path, class: "nav-link", rel: 'popover', data: {content: Trio.human_attribute_name(:popover), trigger: 'hover', toggle: 'popover', placement: 'bottom'} %>
</li>
<li class="nav-item <%= 'active' if controller_name.eql?('gene_searches') %>">
	<%= link_to GeneSearch.model_name.human(count: 2), search_gene_searches_path, class: "nav-link", rel: 'popover', data: {content: GeneSearch.human_attribute_name(:popover), trigger: 'hover', toggle: 'popover', placement: 'bottom'} %>
</li>
<li class="nav-item <%= 'active' if controller_name.eql?('subject_samples') %>">
	<%= link_to SubjectSampleSearch.model_name.human(count: 2), search_subject_sample_searches_path, class: "nav-link", rel: 'popover', data: {content: SubjectSampleSearch.human_attribute_name(:popover), trigger: 'hover', toggle: 'popover', placement: 'bottom'} %>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
  <div class="dropdown-menu" aria-labelledby="aboutDropdown">
    <%= link_to "About MSSNG", visitors_about_path, class: "dropdown-item" %>
    <%= link_to "How to Cite MSSNG", pages_acknowledgements_path, class: "dropdown-item" %>
    <%= link_to "Publications", pages_publications_path, class: "dropdown-item" %>
    <%= link_to "Subject/Sample Info", "https://docs.google.com/spreadsheets/d/1UzwaRaaUZg3f5zRAdrSwZiprKAl-qnkhoJv6Zp6ijzE", class: "pdf-doc dropdown-item", target: "_blank" %>
		<%= link_to "MSSNG Portal Quickstart", "https://drive.google.com/open?id=1t4lxMxTTD8DuLqYC-sudp9waX-cBiruB", class: "pdf-doc dropdown-item", target: "_blank" %>
		<%= link_to "De Novo Variants", "https://drive.google.com/open?id=1ZWrJqFg8gOtvN6yxC4ZTRvL968XiyqHP", class: "pdf-doc dropdown-item", target: "_blank" %>
		<%= link_to "Changes", "https://docs.google.com/document/d/14aiE9taKA0HyxT4tR5F7V_7vNxkcm8cCI4n5BguZ4GE", class: "pdf-doc dropdown-item", target: "_blank" %>
		<%= mail_to dt('mail.address'), dt('mail.nav'), html_options = {subject: dt('mail.subject'), body: dt('mail.body', email: dt('mail.address')), class: "dropdown-item"} %>
  </div>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.email.split('@').first %></a>
  <div class="dropdown-menu" aria-labelledby="profileDropdown">
    <%= link_to dt('navbar.signout'), signout_path, class: "dropdown-item" %>
  </div>
</li>
