<nav class="navbar navbar-dark justify-content-between navbar-expand-lg fixed-top">
  <a class="navbar-brand" href="/">
    <%= image_tag('header-mssng-logo.png', alt: 'MSSNG logo') %>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="mainNavbar">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <%# This is for authenticated users. %>
        <%= render 'layouts/navigation_links' %>
      <% else %>
        <%# This is for unauthenticated users. %>
        <li class="nav-item">
          <%= link_to "About", visitors_about_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Publications", publications_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Release Notes", release_notes_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to dt('navbar.signin'), signin_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
